<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <selene>
        <title>Selene</title>
        <slogan>A simple CMS for blogging built with Tornado and MongoDB</slogan>
        <baseurl>http://localhost:8081</baseurl>
        <languages default="en_US">
            <language name="English" code="en_US" shortcode="en" />
        </languages>
    </selene>
    <blog>
        <title>Blog title</title>
        <description>Blog description</description>
    </blog>
</configuration>
