<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <selene>
        <title>Selene</title>
        <slogan>A simple CMS for blogging built with Tornado and MongoDB</slogan>
        <locales default="en_US">
            <en_US shortcode="en">English</en_US>
            <es_ES shortcode="es">Spanish</es_ES>
        </locales>
    </selene>
    <blog>
        <title>Blog title</title>
        <description>Blog description</description>
        <baseurl>http://localhost:8081</baseurl>
    </blog>
</configuration>
