<html>
    <head>
        <title>{{ options.title }}{% block title %}{% end %}</title>
    </head>
    <body>
        <header>
            <a href="/"><h1>{{ options.title }}</h1></a>
            <h2>{{ options.slogan }}</h2>
            {% block header %}{% end %}
            <div id="menu">{% module Menu(current_user=current_user) %}</div>
        </header>
        <content>{% block content %}{% end %}</content>
        <footer>
            {% block footer %}{% end %}
            {% module PoweredBy() %}
        </footer>
    </body>
</html>
