<html>
    <head>
        <title>{{ options.title }}{% block title %}{% end %}</title>
    </head>
    <body>
        <header>
            <a href="/">
                <h1>{{ options.title }}</h1>
            </a>
            <h3>{{ options.slogan }}</h3>
            {% block header %}{% end %}
            <div id="menu">
                {% module MenuModule(current_user=current_user) %}
            </div>
        </header>
        <content>
            {% block content %}{% end %}
        </content>
        <footer>
            {% block footer %}{% end %}
            {% module PoweredByModule() %}
        </footer>
    </body>
</html>
