{% extends "base.html" %}

{% block title %}
 | Login
{% end %}

{% block header %}
{% end %}

{% block content %}
    {% if message %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% end %}
    <div class="row-fluid">
        <div class="span8">
            {% module LoginModule(_next=_next) %}
        </div>
        <div class="span4">
            <fieldset>
                <legend>Third-party login</legend>
                {% module GoogleLoginModule() %}
                {% module TwitterLoginModule() %}
            </fieldset>
        </div>
    </div>
{% end %}

{% block footer %}
{% end %}
