{% extends "base.html" %}

{% block title %}
 | List posts
{% end %}

{% block header %}
{% end %}

{% block content %}
<h2>List posts</h2>
{% module SearchPostsModule(title=title) %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Date</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    </tbody>
        {% for post in posts %}
        <tr>
            <td>
                <a href="{{ '/post/%s' % post['slug'] }}">
                    {{ post['title'] }}
                </a>
            </td>
            <td>
                {{ post['status'] }}
            </td>
            <td>
                {{ post['date'].strftime('%b-%d-%G %I:%M%p') }}
            </td>
            <td>
                <a class="btn btn-primary" href="{{ '/post/%s/edit' % post['slug'] }}">
                    <i class="icon-edit"></i>
                    Edit
                </a>
                <a class="btn" href="{{ '/post/%s/delete' % post['slug'] }}">
                    <i class="icon-remove"></i>
                    Delete
                </a>
            </td>
        </tr>
        {% end %}
    </thead>
</table>
{% end %}

{% block footer %}
{% end %}
