{% extends "base.html" %}

{% block title %}
 | {{ post['title'] }}
{% end %}

{% block header %}
{% end %}

{% block content %}
    <div class="row-fluid">
        {% module PostModule(post=post, comments=comments) %}
    </div>
    <div class="row-fluid">
        {% module TwitterShareModule(post=post) %}
        {% module FacebookShareModule(post=post) %}
    </div>
    <div class="row-fluid">
        {% module OlderNewerPostsModule(older=older, newer=newer)%}
    </div>
    <div class="row-fluid">
        {% module CommentsModule(post=post, comments=comments)%}
    </div>
{% end %}

{% block footer %}
{% end %}
