{% from tornado.options import options %}
{% if options.disqus_enabled %}
    {% module DisqusModule() %}
{% else %}
    <fieldset>
        <legend>{{ _("Comments") }} ({{ len(comments) }})</legend>
        {% if len(comments) > 0 %}
            <ul class="unstyled">
                {% for comment in comments %}
                    <li>
                    {% module CommentModule(comment=comment) %}
                    </li>
                {% end %}
            </ul>
        {% else %}
            <div class="alert alert-info">
                {{ _("No one has comment yet") }}
            </div>
        {% end %}
    </fieldset>
    {% module NewCommentModule(post=post) %}
{% end %}
