{% if options.disqus_enabled %}
    {% module DisqusModule() %}
{% else %}
    <fieldset>
        <legend>{{ _("Comments") }} ({{ len(comments) }})</legend>
        {% if len(comments) > 0 %}
            <ul class="unstyled">
                {% for comment in comments %}
                    <li>
                    {% module CommentModule(comment=comment) %}
                    </li>
                {% end %}
            </ul>
        {% else %}
            <div class="alert alert-info">
                {{ _("No one has commented yet") }}
            </div>
        {% end %}
    </fieldset>
    {% if 'message' in globals() %}
        {% module MessageModule(message=message) %}
    {% end %}
    {% module NewCommentModule(post=post, form=form) %}
{% end %}
