<div class="row-fluid">
    <div class="span10">
        <div class="row-fluid">
            {% if options.gravatar_for_comments %}
                <p>
                    <img class="avatar" src="{{ helpers.get_gravatar_url(comment['email']) }}" alt="{{ comment['name'] }}">
                    <strong>{{ comment['name'] }}</strong> {{ _("says") }}
                </p>
                <blockquote class="avatar">
                    {{ comment['content'] }}
                    <small class="pull-right">
                        {{ _("Posted") }} {{ comment['date'].strftime('%b %d, %Y') }}
                    </small>
                </blockquote>
            {% else %}
                <p>
                    <strong>{{ comment['name'] }}</strong> {{ _("says") }}
                </p>
                <blockquote>
                    {{ comment['content'] }}
                    <small class="pull-right">
                        {{ _("Posted") }} {{ comment['date'].strftime('%b %d, %Y') }}
                    </small>
                </blockquote>
            {% end %}
        </div>
    </div>
    <div class="span2">
        <div class="row-fluid">
            <div class="span12">
                {% module LikeCommentModule(comment=comment) %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                {% module DislikeCommentModule(comment=comment) %}
            </div>
        </div>
        <div class="row-fluid text-right">
            <div class="span12 btn-group">
                {% module EditCommentModule(comment=comment) %}
                {% module DeleteCommentModule(comment=comment) %}
            </div>
        </div>
    </div>
</div>
