{% if options.disqus_enabled %}
    {% module DisqusModule() %}
{% else %}
    <fieldset>
        <legend>{{ _("Comments") }} ({{ len(comments) }})</legend>
        {% if len(comments) > 0 %}
            <ul class="unstyled">
                {% for comment in comments %}
                    <li>
                    {% module CommentModule(comment=comment) %}
                    </li>
                {% end %}
            </ul>
        {% else %}
            <div class="alert alert-info">
                {{ _("No one has commented yet") }}
            </div>
        {% end %}
    </fieldset>
    {% try %}
        {% if isinstance(message, str) %}
            <div class="alert alert-error">
                <ul><li>{{ _(message) }}</li></ul>
            </div>
        {% elif isinstance(message, dict) %}
            <div class="alert alert-error">
                <ul>
                {% for k, v in message.iteritems() %}
                    <li>{{ _(v[0]) }}</li>
                {% end %}
                </ul>
            </div>
        {% elif isinstance(message, list) %}
            <div class="alert alert-error">
                <ul>
                {% for m in message %}
                    <li>{{ _(m) }}</li>
                {% end %}
                </ul>
            </div>
        {% end %}
    {% except %}
        {# Catching exception when message is not present #}
    {% end %}
    {% module NewCommentModule(post=post, form=form) %}
{% end %}
