{% set form = forms.LoginForm() %}
<form class="form-horizontal" action="/login" method="post">
    <fieldset>
        <legend>{{ _("Login") }}</legend>
        <div class="control-group">
            {% raw form.email.label(text=_("Email"), class_="control-label") %}
            <div class="controls">
                {% raw form.email(placeholder=_("Email")) %}
            </div>
        </div>
        <div class="control-group">
            {% raw form.password.label(text=_("Password"), class_="control-label") %}
            <div class="controls">
                {% raw form.password(placeholder=_("Password")) %}
            </div>
        </div>
        {% raw form.next_(value=_next or '') %}
        {% raw xsrf_form_html() %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">
                    <i class="icon-lock"></i>
                    {{ _("Login") }}
                </button>
            </div>
        </div>
    </fieldset>
</form>
