<form class="form-horizontal" action="/login" method="post">
    <fieldset>
        <legend>{{ _("Login") }}</legend>
        <div class="control-group">
            {% raw form.email.label(class_="control-label") %}
            <div class="controls">
                {% raw form.email(placeholder=form.email.label.text) %}
            </div>
        </div>
        <div class="control-group">
            {% raw form.password.label(class_="control-label") %}
            <div class="controls">
                {% raw form.password(placeholder=form.password.label.text) %}
            </div>
        </div>
        {% raw form.next_() %}
        {% raw xsrf_form_html() %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">
                    <i class="icon-lock"></i>
                    {{ _("Login") }}
                </button>
            </div>
        </div>

{% if (options.google_login_enabled and options.google_oauth_key and options.google_oauth_secret) or (options.facebook_login_enabled and options.facebook_api_key and options.facebook_secret) or (options.twitter_login_enabled and options.twitter_consumer_key and options.twitter_consumer_secret) %}
        <div class="control-group">
            <div class="controls">
                {% if options.google_login_enabled and options.google_oauth_key and options.google_oauth_secret %}
                    {% module GoogleLoginModule() %}
                {% end %}
                {% if options.facebook_login_enabled and options.facebook_api_key and options.facebook_secret %}
                    {% module FacebookLoginModule() %}
                {% end %}
                {% if options.twitter_login_enabled and options.twitter_consumer_key and options.twitter_consumer_secret %}
                    {% module TwitterLoginModule() %}
                {% end %}
            </div>
        </div>
{% end %}
    </fieldset>
</form>
