<div class="row-fluid">
    <ul class="nav nav-pills nav-stacked">
        <li {% if url_path == '/' %}class="active"{% end %}>
            <a href="/">{{ _("Home") }}</a>
        </li>
        {% if current_user %}
            <li {% if url_path == '/my-account' %}class="active"{% end %}>
                <a href="/my-account">{{ _("My account") }}</a>
            </li>
            <li {% if url_path == '/posts' %}class="active"{% end %}>
                <a href="/posts">{{ _("List posts") }}</a>
            </li>
            <li {% if url_path == '/post/new' %}class="active"{% end %}>
                <a href="/post/new">{{ _("Write a new post") }}</a>
            </li>
        {% else %}
            <li {% if url_path == '/login' %}class="active"{% end %}>
                <a href="/login">{{ _("Login") }}</a>
            </li>
            <li {% if url_path == '/register' %}class="active"{% end %}>
                <a href="/register">{{ _("Register") }}</a>
            </li>
            <li {% if url_path == '/new-password' %}class="active"{% end %}>
                <a href="/new-password">{{ _("Request a new password") }}</a>
            </li>
        {% end %}
        <li {% if url_path == '/tags' %}class="active"{% end %}>
            <a href="/tags">{{ _("Tags") }}</a>
        </li>
        <li>
            <a href="/rss">{{ _("RSS Syndication") }}</a>
        </li>
        {% if current_user %}
            <li>
                <form action="/logout" method="post">
                    {% raw xsrf_form_html() %}
                    <button type="submit" class="btn btn-link">{{ _("Logout") }}</button>
                </form>
            </li>
        {% end %}
    </ul>
</div>
