 <form class="form" action="/post/new" method="post">
    <fieldset>
        <legend><h2>{{ _("Write a new post") }}</h2></legend>
        <div class="row-fluid">
            <div class="span5">
                <div class="control-group">
                    {% raw form.title.label(class_="control-label") %}
                    <div class="controls">
                        {% raw form.title(placeholder=form.title.label.text, class_="input-block-level") %}
                    </div>
                </div>
                <div class="control-group">
                    {% raw form.tags.label(class_="control-label") %}
                    <div class="controls">
                        {% raw form.tags(placeholder=form.tags.label.text, class_="input-block-level") %}
                    </div>
                </div>
                <div class="control-group">
                    {% raw form.slug.label(class_="control-label") %}
                    <div class="controls">
                        {% raw form.slug() %}
                        {% raw form.custom_slug(placeholder=form.custom_slug.label.text, class_="input-block-level") %}
                    </div>
                </div>
                <div class="control-group">
                    {% raw form.text_type.label(class_="control-label") %}
                    <div class="controls">
                        {% raw form.text_type(class_="input-block-level") %}
                    </div>
                </div>
                <div class="control-group">
                    {% raw form.status.label(class_="control-label") %}
                    <div class="controls">
                        {% for subfield in form.status %}
                            {% raw subfield() %}
                            {% raw subfield.label(_(subfield.label.text)) %}
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="span7">
                <div class="control-group">
                    {% raw form.content.label(class_="control-label") %}
                    <div class="controls">
                        {% raw form.content(placeholder=form.content.label.text, class_="input-block-level", rows="25") %}
                    </div>
                </div>
            </div>
            {% raw xsrf_form_html() %}
        </div>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <i class="icon-ok"></i>{{ _("Save") }}
        </button>
        <a href="/posts" class="btn">{{ _("Cancel") }}</a>
    </div>
</form>
