<form class="form-horizontal" action="/new-password" method="post">
    <fieldset>
        <legend>{{ _("Request a new password") }}</legend>
        <div class="control-group">
            {% raw form.email.label(class_="control-label") %}
            <div class="controls">
                {% raw form.email(placeholder=form.email.label.text) %}
            </div>
        </div>
        {% raw xsrf_form_html() %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">
                    <i class="icon-refresh"></i>
                    {{ _("Request a new password") }}
                </button>
            </div>
        </div>
    </fieldset>
</form>
