<fieldset>
    <legend>{{ _("Recent posts") }}</legend>
    {% if posts.count() > 0 %}
        <div class="row-fluid">
            <ul>
                {% for post in posts %}
                    <li>
                        <a href="{{ '/post/%s' % post['slug'] }}">{{ post['title'] }}</a>
                    </li>
                {% end %}
            </ul>
        </div>
    {% else %}
        <div class="alert alert-info">
            {{ _("No one has posted yet") }}
        </div>
    {% end %}
</fieldset>
