{% set form = forms.RegisterForm(locale_code=locale.code) %}
<form class="form-horizontal" action="/register" method="post">
    <fieldset>
        <legend>{{ _("Register") }}</legend>
        <div class="control-group">
            {% raw form.full_name.label(class_="control-label") %}
            <div class="controls">
                {% raw form.full_name(placeholder=form.full_name.label.text) %}
            </div>
        </div>
        <div class="control-group">
            {% raw form.email.label(class_="control-label") %}
            <div class="controls">
                {% raw form.email(placeholder=form.email.label.text) %}
            </div>
        </div>
        <div class="control-group">
            {% raw form.password.label(class_="control-label") %}
            <div class="controls">
                {% raw form.password(placeholder=form.password.label.text) %}
            </div>
        </div>
        {% raw xsrf_form_html() %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">
                    <i class="icon-ok"></i>
                    {{ _("Register") }}
                </button>
            </div>
        </div>
    </fieldset>
</form>
