<form class="form-horizontal" action="/reset-password/{{ form.data['reset_hash'] }}" method="post">
    <fieldset>
        <legend>{{ _("Reset password") }}</legend>
        <div class="control-group">
            {% raw form.password.label(class_="control-label") %}
            <div class="controls">
                {% raw form.password(placeholder=form.password.label.text) %}
            </div>
        </div>
        {% raw form.reset_hash() %}
        {% raw xsrf_form_html() %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">
                    <i class="icon-ok"></i>
                    {{ _("Reset password") }}
                </button>
            </div>
        </div>
    </fieldset>
</form>
