{% import math %}
{% set total_pages = int(math.ceil(total/page_size)) %}
<div class="pagination pagination-centered">
    <ul>
        {% if page > 1 %}
            <li><a href="/tag/{{ tag }}/page/{{ page - 1 }}">{{ _("Prev") }}</a></li>
        {% else %}
            <li class="disabled"><a>{{ _("Prev") }}</a></li>
        {% end %}
        {% for item in range(1, total_pages + 1) %}
            {% if item == page %}
                <li class="active"><a>{{ item }}</a></li>
            {% else %}
                <li><a href="/tag/{{ tag }}/page/{{ item }}">{{ item }}</a></li>
            {% end %}
        {% end %}
        {% if page >= total_pages %}
            <li class="disabled"><a>{{ _("Next") }}</a></li>
        {% else %}
            <li><a href="/tag/{{ tag }}/page/{{ page + 1 }}">{{ _("Next") }}</a></li>
        {% end %}
    </ul>
</div>
