{% from tornado.options import options %}
{% if options.disqus_enabled %}
    {% module DisqusModule() %}
{% else %}
    {% if len(comments) > 0 %}
        <fieldset>
            <legend>Comments ({{ len(comments) }})</legend>
        <ul class="unstyled">
            {% for comment in comments %}
                <li>
                {% module CommentModule(comment=comment) %}
                </li>
            {% end %}
        </ul>
        </fieldset>
    {% else %}
        <p>No one has commented yet</p>
    {% end %}
    {% module NewCommentModule(post=post) %}
{% end %}
