<div class="row-fluid">
    <div class="span10">
        <div class="row-fluid">
            <p><strong>{{ comment['name'] }}</strong> says:</p>
            <blockquote>
                {{ comment['content'] }}
                <small class="pull-right">
                    Published at {{ comment['date'] }}
                </small>
            </blockquote>
        </div>
    </div>
    <div class="span2">
        <div class="row-fluid">
            <div class="span12">
                {% module LikeCommentModule(comment=comment) %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                {% module DislikeCommentModule(comment=comment) %}
            </div>
        </div>
        <div class="row-fluid text-center">
            <div class="span12">
                {% module DeleteCommentModule(comment=comment) %}
            </div>
        </div>
    </div>
</div>
