<div>
    <div>
        <strong>{{ comment['name'] }}</strong> says:
        <p>{{ comment['content'] }}</p>
        <i>Published at {{ comment['date'] }}</i>
        <div>
            <span><strong>Likes:</strong> {{ comment['likes'] }}</span>
            <span><strong>Dislikes:</strong> {{ comment['dislikes'] }}</span>
        </div>
    </div>
    <div>
        {% module LikeComment(comment=comment) %}
        {% module DislikeComment(comment=comment) %}
        {% module DeleteComment(comment=comment) %}
    </div>
</div>
