{% from selene import forms %}
{% set form = forms.LoginForm() %}
<form class="form-horizontal" action="/login" method="post">
    <fieldset>
        <legend>Login</legend>
        <div class="control-group">
            {% raw form.email.label(class_="control-label") %}
            <div class="controls">
                {% raw form.email(placeholder="Email") %}
            </div>
        </div>
        <div class="control-group">
            {% raw form.password.label(class_="control-label") %}
            <div class="controls">
                {% raw form.password(placeholder="Password") %}
            </div>
        </div>
        {% raw xsrf_form_html() %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">
                    <i class="icon-lock"></i>
                    Login
                </button>
            </div>
        </div>
    </fieldset>
</form>
