<ul class="nav nav-pills nav-stacked">
    <li><a href="/">Home</a></li>
    {% if current_user %}
    <li><a href="/posts">List posts</a></li>
    <li><a href="/post/new">Write a new post</a></li>
    {% else %}
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/new-password">Request a new password</a></li>
    {% end %}
    <li><a href="/tags">Tags</a></li>
    <li><a href="/rss">RSS Sindication</a></li>
    {% if current_user %}
    <li>
        <form action="/logout" method="post">
            {% raw xsrf_form_html() %}
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    </li>
    {% end %}
</ul>
