<ul>
    {% if current_user %}
    <li><a href="/posts">List posts</a></li>
    <li><a href="/post/new">Write a new post</a></li>
    {% else %}
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/new-password">Request a new password</a></li>
    {% end %}
    <li><a href="/rss">RSS Sindication</a></li>
    {% if current_user %}
    <li>
        <form action="/logout" method="post">
            {% raw xsrf_form_html() %}
            <input type="submit" value="Logout" />
        </form>
    </li>
    {% end %}
</ul>
