{% if message %}
    <em>{{ message }}</em>
{% end %}
<form action="/post/new" method="post">
    <dl>
        <dt><label for="title">Title:</label></dt>
        <dd><input type="text" name="title" id="title" value="{{ post.get('title', '') }}" /></dd>
        <dt><label for="slug">Custom slug:</label></dt>
        <dd>
            <input type="checkbox" name="slug" id="slug" />
            <input type="text" name="customslug" id="customslug" value="{{ post.get('customslug', '') }}" />
        </dd>
        <dt><label for="tags">Tags:</label></dt>
        <dd><input type="text" name="tags" id="tags"  value="{{ ','.join(post.get('tags', [])) }}" /></dd>
        <dt><label for="content">Content:</label></dt>
        <dd><textarea name="content" id="content">{{ post.get('content', '') }}</textarea></dd>
        <dt><label for="status">Status:</label></dt>
        <dd>
            {% if post.get('status', '') in ['published', ''] %}
            <input type="radio" name="status" id="published" value="published" checked="checked" />
            <label for="published">Published</label>
            <input type="radio" name="status" id="unpublished" value="unpublished" />
            <label for="unpublished">Unpublished</label>
            {% else %}
            <input type="radio" name="status" id="published" value="published" />
            <label for="published">Published</label>
            <input type="radio" name="status" id="unpublished" value="unpublished" checked="checked" />
            <label for="unpublished">Unpublished</label>
            {% end %}
        </dd>
    </dl>
    {% raw xsrf_form_html() %}
    <input type="submit" value="Save it" />
</form>
