{% from selene import forms %}
{% set form = forms.NewPostForm() %}
{% set f = form.content.process_data(post.get('content', '')) %}
{% if 'status' in post %}
{% set f = form.status.process_data(post['status']) %}
{% end %}
{% if message %}
    <em>{{ message }}</em>
{% end %}
{% if new %}
<form action="/post/new" method="post">
{% else %}
<form action="{{ '/post/%s/edit' % post['slug'] }}" method="post">
{% end %}
    <dl>

        <dt>{% raw form.title.label() %}:</dt>
        <dd>{% raw form.title(value=post.get('title', '')) %}</dd>
        <dt>{% raw form.slug.label() %}:</dt>
        <dd>
            {% raw form.slug() %}
            {% raw form.customslug(value=post.get('slug', '')) %}
        </dd>
        <dt>{% raw form.tags.label() %}:</dt>
        <dd>{% raw form.tags(value=','.join(post.get('tags', []))) %}</dd>
        <dt>{% raw form.content.label() %}:</dt>
        <dd>{% raw form.content() %}</dd>
        <dt>{% raw form.status.label() %}:</dt>
        <dd>
            {% for subfield in form.status %}
                {% raw subfield() %}
                {% raw subfield.label() %}
            {% end %}
        </dd>
    </dl>
    {% raw xsrf_form_html() %}
    {% if new %}
        <input type="submit" value="Save it" />
    {% else %}
        <input type="submit" value="Edit" />
    {% end %}
</form>
