{% from selene import forms %}
{% set form = forms.NewPostForm() %}
{% set f = form.content.process_data(post.get('content', '')) %}
{% if 'status' in post %}
{% set f = form.status.process_data(post['status']) %}
{% end %}
{% if message %}
    <em>{{ message }}</em>
{% end %}
{% if new %}
<form class="form-horizontal" action="/post/new" method="post">
{% else %}
<form class="form-horizontal" action="{{ '/post/%s/edit' % post['slug'] }}" method="post">
{% end %}
    <fieldset>
        <legend>Write a new post</legend>
        <div class="control-group">
            {% raw form.title.label(class_="control-label") %}
            <div class="controls">
                {% raw form.title(value=post.get('title', ''), placeholder="Title") %}
            </div>
        </div>
        <div class="control-group">
            {% raw form.tags.label(class_="control-label") %}
            <div class="controls">
                {% raw form.title(value=','.join(post.get('tags', [])), placeholder="Tags") %}
            </div>
        </div>
        <div class="control-group">
            {% raw form.slug.label(class_="control-label") %}
            <div class="controls">
                {% raw form.slug() %}
                {% raw form.customslug(value=post.get('slug', ''), placeholder='Custom slug') %}
            </div>
        </div>
        <div class="control-group">
            {% raw form.content.label(class_="control-label") %}
            <div class="controls">
                {% raw form.content(placeholder="Content") %}
            </div>
        </div>
        <div class="control-group">
            {% raw form.status.label(class_="control-label") %}
            <div class="controls">
                {% for subfield in form.status %}
                    {% raw subfield() %}
                    {% raw subfield.label() %}
                {% end %}
            </div>
        </div>
        {% raw xsrf_form_html() %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">
                    {% if new %}
                        Save it
                    {% else %}
                        Edit
                    {% end %}
                </button>
            </div>
        </div>
    </fieldset>
</form>
