<ul class="pager">
    {% if older %}
        <li class="previous">
            <a href="{{ '/post/%s' % older['slug'] }}" title="{{ _("Previous post") }}: {{ older['title'] }}">
                &larr; {{ older['title'] }}
            </a>
        </li>
    {% end %}
    {% if newer %}
        <li class="next">
            <a href="{{ '/post/%s' % newer['slug'] }}" title="{{ _("Next post") }}: {{ newer['title'] }}">
                {{ newer['title'] }} &rarr;
            </a>
        </li>
    {% end %}
</ul>
