<fieldset>
    <legend>
        {% if linkable %}
                <h2><a href="{{ '/post/%s' % post['slug'] }}">{{ post['title'] }}</a></h2>
        {% else %}
            <h2>{{ post['title'] }}</h2>
        {% end %}
    </legend>
    <div class="btn-toolbar">
    </div>
    <div>
        <div class="btn-group">
            {% if current_user %}
                <a class="btn btn-primary" href="{{ '/post/%s/edit' % post['slug'] }}">
                    <i class="icon-edit"></i>Edit
                <a class="btn" href="{{ '/post/%s/delete' % post['slug'] }}">
                    <i class="icon-remove"></i>Delete
                </a>
            {% end %}
        </div>
        <div class="btn-group">
            {% module VoteModule(post=post) %}
        </div>
        <p class="pull-right">
            <i class="icon-eye-open"></i>
            <span class="badge badge-info">{{ '%d' % post['views'] }}</span>
            <i class="icon-star"></i>
            <span class="badge badge-info">{{ '%d' % post['votes'] }}</span>
            {% if linkable %}
                <a href="{{ '/post/%s' % post['slug'] }}#new-comment" title="Click to comment">
            {% else %}
                <a href="#new-comment" title="Click to comment">
            {% end %}
                <i class="icon-comment"></i>
                <span class="badge badge-info">{{ len(comments) }}</span>
            </a>
        </p>
    </div>
    <div>
        <dl>
            <dt>Published:</dt>
            <dd>{{ post['date'].strftime('%m/%d/%Y') }}</dd>
            <dt>Tags:</dt>
            <dd>
                <ul>
                    {% for tag in post['tags'] %}
                    <li>
                        <a href="{{ '/tag/%s' % tag }}">{{ tag }}</a>
                    </li>
                    {% end %}
                <ul>
            </dd>
            <dt>Content:</dt>
            <dd>{{ post['content'] }}</dd>
        </dl>
    </div>
</fieldset>
