{% from tornado.options import options %}
{% if options.disqus_enabled %}
    {% comment TODO: Get recent comments from Disqus %}
{% else %}
    <fieldset>
        <legend>Recent comments</legend>
        {% if len(comments) > 0 %}
            <ul class="unstyled">
                {% for comment in comments %}
                    <li>
                        <p>
                            <blockquote>
                                <b>{{ comment['name'] }}</b> commented on
                                <a href="{{ '/post/%s' % comment['post']['slug'] }}">{{ comment['post']['title'] }}</a>:
                                {% if len(comment['content']) > 100 %}
                                    {{ comment['content'][:100] }}...
                                {% else %}
                                    {{ comment['content'] }}
                                {% end %}
                                <small class="pull-right">
                                    Published at {{ comment['date'] }}
                                </small>
                            </blockquote>
                        </p>
                    </li>
                {% end %}
            </ul>
        {% else %}
            <div class="alert alert-info">
                No one has comment yet
            <div>
        {% end %}
    </fieldset>
{% end %}
