{% from selene import forms %}
{% set form = forms.ResetPasswordForm() %}
<form class="form-horizontal" action="/reset-password/" method="post">
    <fieldset>
        <legend>{{ _("Reset password") }}</legend>
        <div class="control-group">
            {% raw form.password.label(class_="control-label") %}
            <div class="controls">
                {% raw form.password(placeholder=_("Password")) %}
            </div>
        </div>
        <input type="hidden" name="hash" id="hash" value={{ reset_hash }} /></dd>
        {% raw xsrf_form_html() %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">
                    <i class="icon-ok"></i>
                    {{ _("Reset password") }}
                </button>
            </div>
        </div>
    </fieldset>
</form>
