<fieldset>
    <legend>Tags cloud</legend>
    {% if len(tags) > 0 %}
        <div class="row-fluid">
            {% for tag in tags %}
                <a href="{{ '/tag/%s' % tag['_id'] }}">{{ tag['_id'] }}</a>
            {% end %}
        </div>
        <div class="pull-right">
            <a href="/tags">
                <small>View more tags</small>
            </a>
        </div>
    {% else %}
        <div class="alert alert-info">
            No one has tags yet
        </div>
    {% end %}
</fieldset>
