<html>
    <head>
        <title>{{ blog["title"] }}{% block title %}{% end %}</title>
        <link rel="stylesheet" href="{{ static_url("css/reset.css") }}" type="text/css" />
    </head>
    <body>
        <header>
            <h1>{{ blog["title"] }}</h1>
            {% if blog["description"] != "" %}
            <h2>{{ blog["description"] }}</h2>
            {% end %}
            {% block header %}{% end %}
            <div id="menu">{% module Menu(current_user=current_user) %}</div>
        </header>
        <content>{% block content %}{% end %}</content>
        <footer>
            {% block footer %}{% end %}
            {% module PoweredBy(selene=selene) %}
        </footer>
    </body>
</html>
