{% extends "base.html" %}

{% block title %}
 | {{ _("Login") }}
{% end %}

{% block header %}
{% end %}

{% block content %}
    <div class="row-fluid">
        <div class="span8">
            {% module LoginModule(form=form) %}
        </div>
        <div class="span4">
            <fieldset>
                <legend>{{ _("Third-party login") }}</legend>
                {% module GoogleLoginModule() %}
                {% module TwitterLoginModule() %}
            </fieldset>
        </div>
    </div>
{% end %}

{% block footer %}
{% end %}
