{% extends "base.html" %}

{% block title %}
 | {{ _("List posts") }}
{% end %}

{% block header %}
{% end %}

{% block content %}
<h2>{{ _("List posts") }}</h2>
{% module SearchPostsModule(title=title) %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ _("Title") }}</th>
            {% if current_user and current_user.get('is_admin') %}
                <th>{{ _("Author") }}</th>
            {% end %}
            <th>{{ _("Status") }}</th>
            <th>{{ _("Date") }}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% if len(posts) %}
            {% for post in posts %}
            <tr>
                <td>
                    <a href="{{ reverse_url('post', post['slug']) }}">
                        {{ post['title'] }}
                    </a>
                </td>
                {% if current_user and current_user.get('is_admin') %}
                    <td>{{ post['author'] }}</td>
                {% end %}
                <td>
                    {{ _(post['status'].capitalize()) }}
                </td>
                <td>
                    {{ post['date'].strftime('%b %d, %Y %I:%M%p') }}
                </td>
                <td>
                    {% if post['can_manage'] %}
                        <a class="btn btn-primary" href="{{ reverse_url('post-edit', post['slug']) }}">
                            <i class="icon-edit"></i>
                            {{ _("Edit") }}
                        </a>
                        <a class="btn" href="{{ reverse_url('post-delete', post['slug']) }}">
                            <i class="icon-remove"></i>
                            {{ _("Delete") }}
                        </a>
                    {% end %}
                </td>
            </tr>
            {% end %}
        {% else %}
            <tr>
                <td colspan="{{ 5 if current_user and current_user.get('is_admin') else 4 }}">
                    <div class="alert alert-info">
                        {{ _("No one has posted yet") }}
                    </div>
                </td>
            </tr>
        {% end %}
    </tbody>
</table>
{% end %}

{% block footer %}
{% end %}
