{% extends "base.html" %}

{% block title %}
 | {{ _("Search results for") }} "{{ form.data['q'] }}"
{% end %}

{% block header %}
{% end %}

{% block content %}
<fieldset>
    <legend>{{ _("Search results for") }} "{{ form.data['q'] }}"</legend>
    <div class="row-fluid">
        {% module SearchModule(header=False, form=form) %}
    </div>
    {% if len(posts) == 0 %}
        <div class="alert alert-info">
            {{ _("No found results for") }} "{{ form.data['q'] }}"
        </div>
    {% else %}
        <div class="row-fluid">
            <ul class="unstyled">
                {% for post in posts %}
                    <li>
                        {% module PostSummaryModule(post=post) %}
                    </li>
                {% end %}
            </ul>
        </div>
    {% end %}
    <div class="row-fluid">
        {% module SearchPostsPaginatorModule(q=form.data["q"], total=total, page=page, page_size=page_size) %}
    </div>
</fieldset>
{% end %}

{% block footer %}
{% end %}
