{% extends "base.html" %}

{% block title %}
 | {{ _("Tags") }}
{% end %}

{% block header %}
{% end %}

{% block content %}
<fieldset>
    <legend><h2>{{ _("Tags") }}</h2></legend>
    {% if len(tags) %}
        <p>
            <ul class="unstyled inline">
                {% for tag in tags %}
                    <li>
                        <a href="{{ '/tag/%s' % tag['_id'] }}">{{ tag['_id'] }}</a>
                    </li>
                {% end %}
            </ul>
        </p>
    {% else %}
        <div class="alert alert-info">
            {{ _("No one has added any tags yet") }}
        </div>
    {% end %}
</fieldset>
{% end %}

{% block footer %}
{% end %}
